@charset "utf-8";
/* media="(min-width:1400px)"  */

/***** header / .gnb *****/
/*** header-left ***/
/*** logo ***/
/*** header-right ***/


header {}
header .gnb {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb .header-left {
    display: flex;
}
header .gnb .header-left li {
    font-size: var(--font-size-ml);
    text-transform: uppercase;
    text-align: center;
}
header .gnb .header-left li a {
    display: block;
    width: 130px;
}
header .logo {}
header .logo a {}
header .logo a img {
    width: 320px; 
}

header .gnb .header-right {
    display: flex;
}
header .gnb .header-right li {}
header .gnb .header-right li a {
    display: block;
    width: 42px; 
    /* line-height: 42px; */
}
header .gnb .header-right li a img {
    width: 24px; height: 24px;
}
header .gnb .header-right .m-menu { display: none;}
header .gnb .header-right .user { display: block;}

/***** main / .main-container *****/
/* warp */
.wrap {
    /* max-width: inherit; */
    margin: 16px;
}

/***** main-visual *****/
/*** main-visual-video ***/
.main-container {}
.main-container .main-visual {}
.main-container .main-visual video {}

/***** main-new *****/
/*** main-section_title ***/
/*** main-new-01 ***/
/*** main-new-list-wrap ***/
/*** swiper-navigation ***/
.main-container .main-new {
    margin: 180px 50px 0 50px;
}
.main-container .main-new .wrap {}
.main-container .main-new .wrap .main-section_title {
    font-size: var(--font-size-xxxxl);
    margin-bottom: 2.5rem;
}

.main-container .main-new .wrap .main-new-01 {
    margin-bottom: 40px;
}
.main-container .main-new .wrap .main-new-01 .main-new-bg {
    border-radius: 8px;
    background: url(./assets/images/main-new-bg.png) no-repeat 70% / cover;
    height: 94vh;
    color: var(--color-yellow);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;    

}
.main-container .main-new .wrap .main-new-01 .main-new-bg .main-new-subtitle {
    font-size: var(--font-size-xl);
    font-weight: 400;
}
.main-container .main-new .wrap .main-new-01 .main-new-bg .main-new-title {
    font-size: var(--font-size-xxxxl);
    font-weight: 500;

}
.main-container .main-new .wrap .main-section_title .newline { display: none; }

.main-container .main-new .wrap .main-new-01 .main-new-bg .main-new-desc {
    font-size: var(--font-size-ml);
    padding: 0.5rem;
    letter-spacing: 0.05rem;
}
.main-container .main-new .wrap .main-new-01 .main-new-bg .btn {
    display: block;
    font-size: var(--font-size-xl);
    padding: 1rem 0 6rem 0;
}


/* 기존 작성한 리스트 wrap 
.main-container .main-new .wrap .main-new-list-wrap {}
.main-container .main-new .wrap .main-new-list-wrap .product-list {}
.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item {
}
.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item .product-list-link {
    display: block;
    background-color: var(--color-lightPurple);
    border-radius: 8px;
    margin: 8px;
    width: 596px;
    height: 850px;
  
}

.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item .product-list-link .product-list-bg {}
.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item .product-list-link .product-list-img-wrap {}
.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item .product-list-link .product-list-img-wrap img {
    width: 242px;
    width: 556px;
    margin: auto;
    display: block;
}

.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item .product-list-link .product-list-content {
    padding: 50px;
}
.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item .product-list-link .product-list-content .product-list-tit {
    font-size: var(--font-size-l);
    font-weight: 480;
    padding-bottom: 8px;

}
.main-container .main-new .wrap .main-new-list-wrap .product-list .swiper-wrapper .product-list-item .product-list-link .product-list-content .product-list-sub {
    color: var(--color-gray2);
    font-size: var(--font-size-m);
    font-weight: 480;
}
*/


.container-new {
    overflow: visible; /* overflow 속성이 동작을 방해하지 않도록 설정 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.container-new .container-new-wrap {
    max-width: 1800px;
    width: 100%;
}
.container-new .container-new-wrap .slider-wrapper {
    position: relative;
}
.container-new .container-new-wrap .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    font-size: 22px;
    color: var(--color-dark1);
    border: none;
    outline: none;
    background: rgba(239, 239, 239, 0.6);
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}
.container-new .container-new-wrap .slider-wrapper .slide-button:hover {
    background: var(--color-white2);
}
.container-new .container-new-wrap .slider-wrapper .slide-button#prev-slide {
    left: 16px;
    /* display: none;  #prev-slide 기본적으로 숨겨진 상태 유지하다 동작시 나타나게 처리 !! */
}
.container-new .container-new-wrap .slider-wrapper .slide-button#next-slide {
    right: 16px;
}

.container-new .container-new-wrap .slider-wrapper .image-list {
    display: grid;
    gap: 16px;
    /* font-size: 0; */
    margin-bottom: 32px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(5, 1fr);

    
}
.container-new .container-new-wrap .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}
.container-new .container-new-wrap .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    border-radius: 8px;
    width: 596px;
    height: 850px;
    object-fit: cover;
    background-color: var(--color-lightPurple);
    cursor: pointer;
}
.container-new .container-new-wrap .slider-wrapper .image-list .image-item img {
    display: block; /* 이미지가 인라인 속성을 가지지 않도록 설정 */
    max-width: 100%; /* 이미지 크기 조정 */
    width: 596px;
}

.container-new .container-new-wrap .slider-wrapper .image-list .image-item .product-list-tit {
    font-size: var(--font-size-l);
    font-weight: 480;
    padding: 0 50px 8px 50px;
}
.container-new .container-new-wrap .slider-wrapper .image-list .image-item .product-list-sub {
    color: var(--color-gray2);
    font-size: var(--font-size-m);
    font-weight: 480;
    padding: 0 50px 10px 50px;
}


.container-new .container-new-wrap .slider-scrollbar {
    height: 24px;
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
}
.container-new .container-new-wrap .slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: var(--color-white2);
    position: relative;
    border-radius: 4px;
}
.container-new .container-new-wrap .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
} 

.container-new .container-new-wrap .slider-scrollbar .scrollbar-track .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: var(--color-gray2);
    border-radius: inherit;
    cursor: grab;
}
.container-new .container-new-wrap .slider-scrollbar .scrollbar-track .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.container-new .container-new-wrap .slider-scrollbar .scrollbar-track .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}




/***** main-wear *****/
.main-container .main-wear {
    margin: 0 50px 0 50px;
} 
.main-container .main-wear .wrap .main-wear-colgroup {
    display: flex;
    align-items: center;
    padding: 44px 0 44px 0;
    width: 100%;
}
.main-container .main-wear .wrap .main-wear-colgroup .main-wear_bg {
    background: url(./assets/images/main-wear-img.png) no-repeat 50% / cover;
    width: 65%;
    height: 80vh;
    margin-right: 16px;
    border-radius: 8px;
}
.main-container .main-wear .wrap .main-wear-colgroup .main-wear_bg img {
    /* height: 40vh; */
}

.main-container .main-wear .wrap .main-wear-colgroup .main-wear_content {
    width: 35%;
    background-color: var(--color-lightPurple);
    /* height: 212px; */
    height: 80vh;
    border-radius: 8px;
    margin: 16px 0 16px 0;
    padding: 60px 48px 60px 48px;
    padding: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-container .main-wear .wrap .main-wear-colgroup .main-wear_content .main-wear_content-title {
    font-size: var(--font-size-xxxl);
    margin-bottom: 22px;
    font-weight: 400;
}
.main-container .main-wear .wrap .main-wear-colgroup .main-wear_content .main-wear_content-desc {
    font-size: var(--font-size-ml);
    font-weight: 400;
}



/***** main-popup *****/
.main-container {   overflow: hidden; }
/* main-popup Mobile */
.main-container .main-popup .wrap .main-popup-title { display: none;}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner { display: none; }

/* main-popup PC */
.main-container .main-popup .wrap .main-popup-title-PC { 
    display: block;
    font-size: var(--font-size-xxxxl);
    font-weight: 500; margin: 0 auto;
    margin-bottom: 48px;

    /* position: relative; */
}
.main-popup-slider-index { display: block; }
.main-popup-slider-inner-PC { display: block; }

.main-container .main-popup { margin: 180px 50px 0 50px; }
.main-container .main-popup .wrap { display: flex; flex-direction: column; justify-content: center; }
.main-container .main-popup .wrap .main-popup-title-PC p:last-child {text-indent : 100px;}
.main-container .main-popup .wrap .main-popup-title-PC .main-popup-title-highlight { background-color: var(--color-yellow); }



.main-container .main-popup .wrap .main-popup-slider {
    position: relative;
}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC {}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item {
    display: flex;
    justify-content: center;
    height: 740px;
}

.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-index-first {
    color: var(--color-white1);
    font-size: var(--font-size-ml);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
    width: 50%;
    border-radius: 8px;
    margin-right: 16px;
    padding: 0 60px 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-first li { cursor: pointer; }
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-first li:last-child .main-popup-slider-index-title {
    /* background-color: dodgerblue; */
    border-bottom: none;
}

.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-first li .main-popup-slider-index-subtitle {
    margin-top: 32px;
}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-first li .main-popup-slider-index-title {
    font-size: var(--font-size-xxxl);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 16px;
}


.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-last {
    color: var(--color-white1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
    width: 50%;
    font-size: var(--font-size-l);
    border-radius: 8px;
    padding: 60px;
    display: flex;
    align-items: flex-end;
}


.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-first li .main-popup-slider-index-title .circle {
    display: inline-block;
    width: 25px; height: 25px;
    background-color: var(--color-white1);

    border-radius: 100%;
    box-shadow:	1px 1px 1px rgba(0, 0, 0, 5);
}


.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-last .main-popup-slider-index-last-item {}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .main-popup-slider-index-last .main-popup-slider-index-last-item .main-popup-slider-index-txt {}


.main-popup-slider-item {
    display: none; /* 모든 슬라이더 숨김 */
    opacity: 0; /* 투명 상태로 시작 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 부드러운 전환 */

    position: absolute;
    width: 100%; /* 부모 요소의 크기에 맞추기 */
    height: 100%; /* 높이도 고정 */
    top: 0;
    left: 0;
    transform: scale(1); /* 기본 크기 고정 */
}

.main-popup-slider-item.active {
    display: block;
    opacity: 1;
    transform: scale(1); /* 크기를 그대로 유지 */
    position: relative;
}

.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg1-1 {background: url(./assets/images/main-popup-1-1.png) no-repeat 50% / cover;}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg2-1 {background: url(./assets/images/main-popup-2-1.png) no-repeat 50% / cover;}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg3-1 {background: url(./assets/images/main-popup-3-1.png) no-repeat 50% / cover;}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg4-1 {background: url(./assets/images/main-popup-4-1.png) no-repeat 50% / cover;}

.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg1-2 {background: url(./assets/images/main-popup-1-2.png) no-repeat 50% / cover;}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg2-2 {background: url(./assets/images/main-popup-2-2.png) no-repeat 50% / cover;}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg3-2 {background: url(./assets/images/main-popup-3-2.png) no-repeat 50% / cover;}
.main-container .main-popup .wrap .main-popup-slider .main-popup-slider-inner-PC .main-popup-slider-item .popupBg4-2 {background: url(./assets/images/main-popup-4-2.png) no-repeat 50% / cover;}

/*** main-popup-slider-index ***/
/*** swiper-notification ***/
.main-container .main-popup .wrap .main-popup_btn-wrap {
    margin-top: 32px;
}
.main-container .main-popup .wrap .main-popup_btn-wrap .btn {
    display: block;
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    text-align: center;
    padding: 16px 0 16px 0;
}



/***** main-news *****/
.main-container .main-news {margin: 180px 50px 0 50px;}
.main-container .main-news .wrap {}
.main-container .main-news .wrap .main-news_bg {
    background: url(./assets/images/main-news_banner-bg.png) no-repeat 65% / cover;
    border-radius: 8px;
    text-align: center;
    /* height: 550px; */
    height: 94vh;
    color: var(--color-white1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;    
}
.main-container .main-news .wrap .main-news_bg .main-news_banner-content {}
.main-container .main-news .wrap .main-news_bg .main-news_banner-content .main-news_banner-title {
    font-size: var(--font-size-xxxxl);
    font-weight: 500;
}
.main-container .main-news .wrap .main-news_bg .main-news_banner-content .main-news_banner-title .newline { display: none; }

/* .main-news_banner-desc PC에서 보여짐!!!! */
.main-container .main-news .wrap .main-news_bg .main-news_banner-content .main-news_banner-desc {
    font-size: var(--font-size-ml);
    padding: 0.5rem;
    letter-spacing: 0.05rem;
    display: block;
}
.main-container .main-news .wrap .main-news_bg .main-news_banner-content .btn {
    display: block;
    font-size: var(--font-size-xl);
    padding: 1rem 0 6rem 0;
}


/***** main-slogan / 무한히 움직이는 텍스트 *****/
.main-container .main-slogan {
    font-size: 140px; font-weight:400; 
    position: relative; 
    width: 100%; max-width:100%; 
    height: auto; 

    padding: 180px; 
    overflow-x: hidden; overflow-y: hidden;

    display: flex; align-items: center; justify-content: center;
  }
.main-container .main-slogan .marquee {
    position: absolute; white-space: nowrap; will-change: transform; animation: scroll-marquee 60s linear infinite;
  }
  @keyframes scroll-marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  

/***** main-store *****/
.main-container .main-store { margin-top: 0; overflow: hidden;}
.main-container .main-store .main-store_wrap {display: flex; width: 500%;}
.main-container .main-store .main-store_wrap .main-store_banner {
    color: var(--color-white1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;    
}
.main-container .main-store .main-store_wrap .main-store_banner .main-store_banner-title {
    font-size: var(--font-size-xxxxxxl);
    font-weight: 600;
}
.main-container .main-store .main-store_wrap .main-store_banner .main-store_banner-title .newline {display: none;}

.main-container .main-store .main-store_wrap .main-store_banner .main-store_banner-desc {
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    /* padding: 0.5rem; */
    letter-spacing: 0.05rem;
    padding: 1rem 0 8rem 0;

}

.main-container .main-store .main-store_wrap .storeBg1 {
    background: url(./assets/images/store_slider-item1.png) no-repeat 50% / cover;
}
.main-container .main-store .main-store_wrap .storeBg2 {
    background: url(./assets/images/store_slider-item2.png) no-repeat 50% / cover;
}
.main-container .main-store .main-store_wrap .storeBg3 {
    background: url(./assets/images/store_slider-item3.png) no-repeat 50% / cover;
}
.main-container .main-store .main-store_wrap .storeBg4 {
    background: url(./assets/images/store_slider-item4.png) no-repeat 50% / cover;
}
.main-container .main-store .main-store_wrap .storeBg5 {
    background: url(./assets/images/store_slider-item5.png) no-repeat 50% / cover;
}



/***** main-insta *****/
.main-container .main-insta { margin: 180px 50px 0 50px; }
.main-container .main-insta .wrap {}
.main-container .main-insta .wrap .main-insta_title {
    font-size: var(--font-size-xxxxxxl);
    margin-bottom: 60px;
    text-transform: none;
}
/* .main-insta_txt PC 숨기기!! 모바일 버전에서만 보이기!!!! */
.main-container .main-insta .wrap .main-insta_txt { display: none; }
/* main-insta Mobile / .main-insta_list */
.main-container .main-insta .wrap .main-insta_list-wrap { overflow: hidden; width: 100%; }
/* .main-insta_list Mobile */
.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list { display: none; }

/* main-insta_list-PC */
.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list-PC {
    display: grid;
	gap: 20px 0px;
    gap: 16px;
	/* row-gap: 10px; column-gap: 20px; */
    /* 2행 4열 */
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list-PC .item4 {
    grid-column: 1 / span 2;
}
.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list-PC .main-insta_list-item a {

}
.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list-PC .main-insta_list-item a img {
    width: 443px;
    width: 100%; 
    border-radius: 8px;
}
.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list-PC .main-insta_list-item a img:hover {}
.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list-PC .item4 a {
    width: 443px; height: 443px;
    font-size: var(--font-size-xxxxl);
    text-align: center; line-height: 443px;
    text-transform: none;
    font-weight: 400;
}
.main-container .main-insta .wrap .main-insta_list-wrap .main-insta_list-PC .item4 a:hover {
 color: var(--color-gray1);
}

/***** footer *****/
footer {
    margin: 180px 50px 0 50px;
}
footer .footer-inner {}
footer .footer-inner .footer-top {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
}
footer .footer-inner .footer-top .footer-newsletter { width: 50%;}
footer .footer-inner .footer-top .footer-newsletter .footer-newsletter-desc {
    font-size: var(--font-size-xxl);
    font-weight: 500;
    padding: 32px 0 32px 0;
}

footer .footer-inner .footer-top .footer-extend {}
footer .footer-inner .footer-top .footer-extend .footer-menu-container {
    display: flex;
    font-size: var(--font-size-ms);
    font-size: 1.438rem; /*23px */
    font-weight: 500;
    width: 50vh;
    margin-left: 180px;
}

footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-left { width: 100%; }
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-left .footer-menu-group {}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-left .footer-menu-group .footer-menu-title {
    font-size: var(--font-size-l);
    font-weight: 700;    
}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-left .footer-menu-group .footer-menu-list {}

.footer-menu-title { display: inline-block; padding: 26px 0 26px 0; }
.footer-menu-list li { padding: 6px 0 4px 0; }
.footer-menu-list li:hover { text-decoration: underline; }
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right {
    width: 100%;
    margin-left: 32px;
}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group {}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group .footer-menu-title {
    font-size: var(--font-size-l);
    font-weight: 700;   
}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group .footer-menu-list {}

footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group-sns {}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group-sns .footer-menu-sns { 
    display: flex; 
    justify-content: flex-start;
}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group-sns .footer-menu-sns li {}
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group-sns .footer-menu-sns li a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 48px 10px 0 -7px;
}

footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group-sns .footer-menu-sns li .sns-insta { background: url(./assets/images/sns-Instagram1-1.png) no-repeat 100% / contain; }
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group-sns .footer-menu-sns li .sns-weibo { background: url(./assets/images/sns-waibo1-1.png) no-repeat 100% / contain; }
footer .footer-inner .footer-top .footer-extend .footer-menu-container .footer-menu-right .footer-menu-group-sns .footer-menu-sns li .sns-facebook { background: url(./assets/images//sns-facebook1-1.png) no-repeat 100% / contain; }

footer .footer-copyright {
    border-top: 0.5px solid var(--color-gray2);
    font-size: var(--font-size-l);
    font-weight: 500;
    padding: 36px 0px 36px 0px;
}
